<div class="ml-8 mr-8 mt-8">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h1 style="font-size: 1.5rem">Iniciar sesión</h1>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="grid formgrid">
                <div class="col-12">
                    <mat-form-field class="w-full">
                        <mat-label>Email</mat-label>
                        <input type="email" formControlName="email" matInput />
                    </mat-form-field>
                </div>
                <div class="col-12">
                    <mat-form-field class="w-full">
                        <mat-label>Password</mat-label>
                        <input type="password" formControlName="password" matInput />
                    </mat-form-field>
                </div>
                <div class="col-12">
                    <button class="w-full" mat-flat-button color="primary">
                        Ingresar
                    </button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>