<form [formGroup]="studentForm" (ngSubmit)="onSubmit()" class="grid m-3">
    <div class="col-6">
        <mat-form-field class="w-full">
            <mat-label>Nombre</mat-label>
            <input formControlName="firstName" matInput type="text" />
        </mat-form-field>
    </div>
    <div class="col-6">
        <mat-form-field class="w-full">
            <mat-label>Apellido</mat-label>
            <input formControlName="lastName" matInput type="text" />
        </mat-form-field>
    </div>
    <div class="col-6">
        <mat-form-field class="w-full">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput type="email" />
        </mat-form-field>
    </div>
    <div class="col-6">
        <mat-form-field class="w-full">
            <mat-label>Número de documento</mat-label>
            <input formControlName="documentNro" matInput type="number" />
        </mat-form-field>
    </div>
    <div class="col-12 flex justify-content-end">
        <button mat-flat-button color="primary">Guardar</button>
    </div>
</form>